.inicio {
	background-image: url("../img/david1.png");
	background-size: cover;
	height: 100vh;
	vertical-align: 50%;
}
h1{
	color: red;
}

section {
    padding-top: 75px;
	padding-bottom: 75px;
}

.portafolio {
	background-color: gray;
}

